html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-family: Arial, sans-serif
}

.links {
    text-decoration: none;
}

header, footer {
    width: 100%;
}

header {
    top: 0;
    position: fixed;
    background-color: rgba(255,255,255,.54);
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    margin: 10px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.0785);
}

#nav-title {
    font-weight: 600;
    font-size: 32px;
    font-family: Times, serif
}

.header-items {
    display: flex;
    font-size: 14px;
}

#header-right-align {
    justify-content: center;
    flex-direction: column;
}

.section-header {
    padding: 12px;
}

.transparent-grey {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
}

.get-started {
    border: solid 1px;
    border-radius: 5px;
    padding: 8px 16px;
    color: #1C9963;
}

main {
    flex-grow: 1;
    margin-top: 130px;
    max-width: 700px;
    width: 100%;
}

.main-spacing {
    margin-right: 20px;
}

.main-content-spacing {
    margin-bottom: 20px;
}

.name {
    font-size: 32px;
    font-weight: 600;
}

footer {
    bottom: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
}

.bot-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#footer-items {
    display:flex;
    padding: 10px;
}

.types {
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    padding-bottom: 6px;
}

.btn-social {
    display: flex;
    justify-content: center;
    margin: 0 25px 0;
    font-size: 20px;
    color: #000;
  }

#main-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.main-text-spacing {
    margin-bottom: 7px;
}

#type-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    margin-bottom:35px;
}

#content {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 60px;
}

.article {    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    padding: 24px;
    margin-bottom: 24px;
}

.article-info {
    display: flex;
}

.circle-img {
    border-radius: 50%;
}

.article-info-text {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.article-img {
    padding: 30px 0 20px;
}

.article-title {
    font-weight: 600;
    font-size: 24px;
}

#pivotal-color {
    color: rgb(29,182,168);
}